@page "/about"
@rendermode InteractiveServer

<!-- About page -->
<PageTitle>ToDo - About Page</PageTitle>

<!-- Page added to the app with link to original tutorial and contact links for ComDotty -->
<h1>About Blazor ToDo App Tutorial</h1>
<hr />

<p>Microsoft Blazor ToDo list App Tutorial</p>

<span class="bi bi-microsoft" aria-hidden="true"></span> <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/build-a-blazor-app?view=aspnetcore-8.0" target="_blank">https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/build-a-blazor-app</a>
<br /><br />
<p>Updated by Les Piper - ComDotty Web Services - 2024</p>

<span class="bi bi-globe" aria-hidden="true"></span> <a href="http://comdottywebservices.somee.com" target="_blank">http://comdottywebservices.somee.com</a><br />
<span class="bi bi-facebook" aria-hidden="true"></span> <a href="https://www.facebook.com/comdotty" target="_blank">https://www.facebook.com/comdotty</a><br />
<span class="bi bi-github" aria-hidden="true"></span> <a href="https://github.com/ComDotty" target="_blank">https://github.com/ComDotty</a>